 .u-section-1 {
  background-image: url("images/High_resolution_wallpaper_background_ID_77700355201.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 661px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 124px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 140px;
  height: 140px;
  margin: 58px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 122px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 23px;
  }
} .u-section-2 {
  background-image: url("images/1653102794_23-adonius-club-p-chyorno-sinie-oboi-krasivie-29.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 673px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-timing-function: ease;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 104px auto 0 354px;
}

.u-section-2 .u-icon-1 {
  width: 140px;
  height: 140px;
  margin: 53px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 97px;
    margin-left: 163px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 87px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 33px;
  }
}